<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
        <ul>
            <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>


    <%= f.label :title%>
    <%= f.text_field :title%><br>
    <br>
    <%= f.label :body%>
    <%= f.text_area :body%><br>
    <br><%= f.submit%>
<%end%>
<br>
<%= link_to "Show",book_path(@book)%> |
<%= link_to "Back",books_path%>